.button-scroll {
    display: block;
    width: rem(45);
    height: rem(45);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}