.button-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(45);
    text-decoration: none;
    text-align: center;
    border: 3px solid $color-accent;
    border-radius: rem(30);
    padding: rem(10) rem(25);
    color: white;
    background-color: $color-accent;
    @include desktop {
        padding: rem(10) rem(60);
    }
    &:hover {
        color: $color-accent;
        background-color: white;
    }

    &--outline {
        @extend .button-primary;
        color: $color-accent;
        background-color: white;
        &:hover {
            color: white;
            background-color: $color-accent;
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.button-scroll {
    display: block;
    width: rem(50);
    height: rem(50);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image-down {
        width: rem(25);
        padding-top: rem(3);
    }

    &--bouncy {
        @extend .button-scroll;
        animation: bounce 2s infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}