.button-scroll {
    display: block;
    width: rem(45);
    height: rem(45);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-outline {
    @include buttonContent($color-accent, white);
    &:hover {
        @include buttonContent(white, $color-accent);
    }
}

.button-filled {
    @include buttonContent(white, $color-accent);
    &:hover {
        @include buttonContent($color-accent, white, );
    }
}