@mixin heroTitle($fontSize, $lineHeight, $textColor) {
    font-family: 'Roboto Slab', serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;
    text-align: center;
    text-transform: uppercase;
}

@mixin heroSubtitle($fontSize, $lineHeight, $textColor) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;
    text-align: center;
}

@mixin regularTitle($fontSize, $lineHeight, $textColor) {
    font-family: 'Roboto Slab', serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;;
}

@mixin paragraph($fontSize, $lineHeight, $textColor) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;
}

//for jpg
@mixin backImage($imgName) {
    background-image: url("../images/#{$imgName}.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin back() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin absoluteCentered() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}