<footer class="footer">
    <div class="footer__copy">
        <small class="footer__copy-year">&copy; 2023</small>
        <small class="footer__copy-phrase">we<i class="fa-solid fa-heart"></i>components</small>
    </div>
    <nav class="footer__links">
        <ul class="footer__categories">
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Articles</a></li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Books</a></li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Events</li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Reasons</a></li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Tips</a></li>
        </ul>
        <ul class="footer__social-media">
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Twitter</a></li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Instagram</a></li>
            <li class="footer__link"><a class="footer__anchor" href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
    </nav>
</footer>