<footer class="footer">
    <a class="footer__scroll-up button-scroll" href="./#header">
        <img class=button-scroll__image-up src="./images/ico-arrow.svg" alt="Scroll up">
    </a>
    <div class="footer__content">
        <nav class="footer__links">
            <ul class="footer__list">
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Articles</a></li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Books</a></li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Events</li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Reasons</a></li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Tips</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Twitter</a></li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Instagram</a></li>
                <li class="footer__item"><a class="footer__link" href="https://adalab.es/">Mastodon.social</a>
                </li>
            </ul>
        </nav>
        <div class="footer__copy">
            <small class="footer__copy-year">&copy; 2023</small>
            <small class="footer__phrase">we <i class="fa-solid fa-heart"></i> components</small>
        </div>
    </div>
</footer>