<header class="header" id="header">
    <nav class="menu">
        <a class="menu__link" href="https://adalab.es/">
            <img class=" menu__toggle" src="./images/ico-menu.svg" alt="Menu Toggle" />
        </a>
    </nav>
    <section class="hero">
        <div class="hero__content">
            <h1 class="hero__title">Anonymous Proxy</h1>
            <p class="hero__subtitle">In hac habitasse platea dictumst.</p>
            <a class="hero__scroll-down button-scroll" href="./#reasons">
                <img class="button-scroll__image" src="./images/ico-scroll-down.svg" />
            </a>
        </div>
        <img class="hero__image" src="./images/cover.jpg" alt="City Skyline" />
    </section>
</header>